html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overscroll-behavior-y: none;
}

.bigtext {
  font-family: "Jost", sans-serif;
  font-weight: bold;
}

.headerText {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: calc(20px + 0.5vw);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}

.paragraphText {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: calc(11px + 0.5vw);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
}
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: calc(12px + 0.5vw);
  margin: 30px;
  letter-spacing: 1px;
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
}

#title {
  color: white;
  font-size: calc(20px + 0.5vw);
  position: relative;
  vertical-align: middle;
}

#headeright {
  position: relative;
  vertical-align: middle;
}

.link1 {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1 0 auto;
}

.line {
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 1000px;
  height: 3px;
  width: calc(100% - 120px);
  background-color: black;
}
#trapezoid1 {
  max-width: 100%;
  position: absolute;
  top: 0px;
  width: 10000px;
  height: 18vh;
  background: #040a44;
  flex: (1000, 50);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

#trapezoid2 {
  margin-top: 30px;
  width: 10000px;
  height: 15vh;
  background: #040a44;
  flex: (1000, 50);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.headerTrapezoid {
  max-width: 100%;
  flex: (1000, 50);
  width: 10000px;
  height: 30vh;
}

#introBanner {
  background: #14cfcf;
}

#aboutBanner {
  background: #1cc99f;
}

#pageTitle {
  color: white;
  position: relative;
  font-size: calc(23px + 0.5vw);
  top: 20vh;
  text-align: center;
}

#footerRight {
  position: relative;
  margin-top: 15px;
}

#email {
  font-weight: 900;
}

#hook {
  padding-top: 50px;
}

/* Collapsible Menu  */

.menuButton {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: calc(13px + 0.5vw);
  display: block;
  width: calc(100% - 120px);
  padding: 15px;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 1000px;
  background: #e6e3e3;
  border: none;
  outline: none;
  transition: background 0.2s;
}

.menuButton::after {
  content: "\25be";
  float: right;
  transform: scale(1.25);
  margin-right: 30px;
}

.menuButton--active {
  background: #292c4d;
  color: white;
}

.menuButton--active::after {
  content: "\25b4";
}

.menuContent {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  margin-top: -30px;
  margin-bottom: 20px;
}
