html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior-y: none;
}

.bigtext {
  font-family: "Jost", sans-serif;
  font-weight: bold;
}

.headerText {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: calc(20px + 0.5vw);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
}

.bigHeader {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: calc(15px + 0.5vw);
  padding-left: 0px;
  padding-right: 0px;
}



.individualHeaderTop {
  padding-top: 0px;
}

.paragraphText {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: calc(11px + 0.5vw);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
}
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: calc(12px + 0.5vw);
  margin: 30px;
  letter-spacing: 1px;
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
}

#title {
  color: white;
  font-size: calc(20px + 0.5vw);
  position: relative;
  vertical-align: middle;
}

#headeright {
  position: relative;
  vertical-align: middle;
}

.link1 {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1 0 auto;
}

.line {
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 1000px;
  height: 3px;
  width: calc(100% - 120px);
  background-color: black;
}
#trapezoid1 {
  max-width: 100%;
  position: absolute;
  top: 0px;
  width: 10000px;
  height: 18vh;
  background: #040a44;
  flex: (1000, 50);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

#trapezoid2 {
  position: relative;
  margin-top: 30px;
  width: 10000px;
  height: 15vh;
  background: #040a44;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.headerTrapezoid {
  max-width: 100%;
  flex: (1000, 50);
  width: 10000px;
  height: 30vh;
}

#introBanner {
  background: #14cfcf;
}

#aboutBanner {
  background: #1cc99f;
}


#pageTitle {
  color: white;
  position: relative;
  font-size: calc(23px + 0.5vw);
  top: 20vh;
  text-align: center;
}

#footerRight {
  position: relative;
  margin-top: 15px;
}

#email {
  font-weight: 900;
}

#hook {
  padding-top: 50px;
}

/* Collapsible Menu  */

.menuButton {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: calc(13px + 0.5vw);
  display: block;
  width: calc(90%);
  padding: 15px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  background: #e6e3e3;
  border: none;
  outline: none;
  transition: background 0.1s;
}

.menuTop {
  margin-top: 10px;
}

.buttonBottom {
  margin-bottom: 10px;
}

.menuButton::after {
  content: "\25be";
  float: right;
  transform: scale(1.25);
  margin-right: 30px;
}

.menuButton--active {
  background: #292c4d;
  color: white;
}

.menuButton:hover {
  background: #292c4d;
  color: white;
}

.menuButton--active::after {
  content: "\25b4";
}

.menuContent {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s;
  margin-top: 5px;
  margin-bottom: 20px;
}

/*Home Page*/
.homeWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.homeIcon {
  border-radius: 20px;
  top: 18vh;
  position: relative;
  height: calc(250px + 1vw);
  width: calc(250px + 1vw);
  background-color: red;
  margin: 20px;
  text-align: center;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

svg {
  transition: fill 0.2s;
}

#iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightblueHome{
  background-color: #81acf0;
}

.greenblueHome {
  background-color: #59e3d3;
}

.yellowHome {
  background-color: #ffff00;
}

.greyHome {
  background-color: #d9d9d9;
}

.greenHome {
  background-color: #adfc68;
}

.redHome {
  background-color: #f7776e;
}

.homeIcon:hover{
  box-shadow: 10px 5px 5px black;
}

.lightblueHome:hover{
  background-color: #01105c;

}

.greenblueHome:hover{
  background-color: #014d44;
}

.yellowHome:hover{
  background-color:#2b1400;
}

.greyHome:hover{
  background-color: #262626;
}

.greenHome:hover{
  background-color: #1c3b01;
}

.redHome:hover{
  background-color: #6e0902;
}


#mechanicalSvg {
  margin-top: 40px;
  width: 175px;
  height: 175px;
}

#electricalSvg {
  margin: auto;
  display: block;
  margin-left: 6px;
  margin-top: 10px;
}

#aerospaceSvg {
  margin-top: 40px;
}

#computerscienceSvg {
  margin-top: 40px;
  width: 175px;
  height: 175px;
}

#informationSvg {
  margin-top: 50px;
  width: 160px;
  height: 160px;
}

#environmentalSvg {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}


#biomedicalSvg {
  margin-top: 30px;
  width: 175px;
  height: 175px;
}

#chemicalSvg {
  margin-top: 25px;
  width: 200px;
  height: 200px;
}

#othersSvg {
  margin-top: 35px;
  width: 200px;
  height: 200px;
}

#industrialSvg {
  margin-top: 35px;
  width: 175px;
  height: 175px;
}

#materialsSvg {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

#biomedicalSvg {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}



/*Individual Degrees*/
.contentPic {
  width: 100vw;
}
#mechanicalPic {
  width: 100vw;
}
#electricalBanner {
  background-color: #edf759;
}

#mechanicalBanner {
  background: #3140C1;
}

#materialBanner {
  background: #49007a;
}

#civilBanner {
  background: #737373;
}

#computerBanner {
  background: #005e84;
}

#industrialBanner {
  background: #737373;
}

#biomedicalBanner {
  background: #3eb823;
}

#environmentalBanner {
  background: #3eb823;
}

#chemicalBanner {
  background: #b8312c ;
}

#otherBanner {
  background: #aa0072;
}

.subHeader {
  font-weight: bold;
}

.overlapBox {
  border-radius: 20px;
  position: relative;
  background-color: white;
  display: block;
  width: calc(100vw - 150px);
  padding: 15px;
  top: -100px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
}

.jobContent {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.youtube {
  width: calc(70%);
  height: 130px;
  display: block;
  padding: 0px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: #e6e3e3;
  border: none;
  outline: none;
}

.ytCaption {
  display: block;
  width: calc(90%);
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainLine {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 3px;
  width: calc(100%);
  background-color: #ababab;
}

/* Responsive Layout */


@media (min-width: 600px) {
  .youtube {
    height: 250px;
  }
}

@media (min-width: 900px) {
  .youtube {
    height: 300px;
  }
}




@media (min-height: 870px) {
  #trapezoid1 {
    height: 12vh;
  }
  #trapezoid2 {
    height: 13vh;
  }
  .headerTrapezoid {
    height: 24vh;
  }
  #pageTitle {
    top: 14vh;
  }
}

@media (min-height: 972px) {
  #trapezoid1 {
    height: 10vh;
  }
  #trapezoid2 {
    height: 10vh;
  }
  .headerTrapezoid {
    height:20vh;
  }
  #pageTitle {
    top: 12vh;
  }
}

@media (min-width: 1323px) {
  .paragraphText {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    font-size: 17.615px;
  }
  .menuButton {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1155px;
    font-size: 19.615px;
  }
  .menuContent {
    width: 1155px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .line {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1155px;
  }
  #hook {
    padding: 0;
    padding-top: 50px;
  }
  .headerText {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1155px;
    font-size: 26.61px;
  }
  #pageTitle {
    font-size: 29.61px;
  }
  #title {
    font-size: 26.61px;
  }
  #footerRight {
    font-size: 18.61px;
  }
  #headerRight {
    font-size: 18.61px;
  }
  .overlapBox {
    width: 1250px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }  
  .youtube {
    height: 454.5px;
  }
}

@media (min-width: 2138px) {
  .homeWrapper {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 2136px;
  }
}

@media (min-width: 1496px ) {
  #mechanicalPic {
    display:block;
    width: 1492px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .contentPic {
    display:block;
    width: 1492px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

}
